@import './reset';
@import './bootstrap';
@import './variables';

.bg-blue-mountain {
    background-color: #76c1d4;
}

.bg-soft-wheat {
    background-color: #f0ede5;
}

.bg-barely-grey {
    background-color: #f7f7f7;
}

.bg-slate {
    background-color: #eaeaea;
}

.bg-purp {
    background-color: rgb(104,73,186);
}

.navbar {
    height: 90px;
}

.announcement {
    min-height: 150px;
    @media (max-width: 750px) {
        min-height: 200px
    }
}

.item-hover-out {
    &:hover {
        transform: scale(1.05);
    }
}

.item-hover-in {
    &:hover {
        transform: scale(.98);
        box-shadow: 
            0 0 4px 0 #a39274,
    }
}

a {
    color: #7f6d4e;
    font-weight: 600;
}

.accordion-button:not(.collapsed) {
    background-color: white;
    color: #252523;
}

.accordion-button:focus {
    box-shadow: 0 0 0 .25rem #f7f7f7;
}