@import './reset';
@import './bootstrap';
@import './variables';

.bg-blue-mountain {
    background-color: #76c1d4;
}

.bg-barely-grey {
    background-color: #f7f7f7;
}

.bg-slate {
    background-color: #eaeaea;
}

.bg-purp {
    background-color: rgb(104,73,186);
}

.navbar {
    height: 90px;
}

.announcement {
    min-height: 150px;
    @media (max-width: 750px) {
        min-height: 200px
    }
}