---
import Layout from "../layouts/Layout.astro"
import {Content} from "../content/contacts.md"

---
<Layout title="Horizon HDFC - Contacts" backgroundColor='bg-barely-grey'>
      <div class="mt-4 pb-5">
        <div class="container text-lg-start">
          <Content/>
        </div>
      </div>
</Layout>