---
export const prerender = false
import Layout from "../layouts/Layout.astro"
import UpcomingBookings from "../components/UpcomingBookings.astro"
import {frontmatter} from "../content/forms.md"

---
<Layout title="Horizon HDFC - Book a Space" backgroundColor='bg-barely-grey'>
    <div class="container">
        <p>{frontmatter.forms.eventSpaceSignup.description}<a href="/calendar" class="ps-1">Calendar</a></p>
        <UpcomingBookings />
        <div class="d-none d-md-block">
            <!-- Google Form -->
            <iframe style="margin-bottom: 100px" class="mt-2" src="https://docs.google.com/forms/d/e/1FAIpQLSfiWMUmJjTlElQXW0L-p41OsGOjsCA2qS9h58zMJr_5Bz82Iw/viewform?embedded=true" width="640" height="1981" frameborder="0" marginheight="0" marginwidth="0" scrolling=no>Loading…</iframe>
        </div>
        <div class="d-block d-md-none vh-100 mt-4">
            <p>Your viewport is too small to view this embedded Form</p>
            <p>View this Form <a href="https://forms.gle/GDw3dhEvSfnT45bF7" target="_blank">here</a></p>
        </div>
    </div>
    <script>
        const iframe = document.querySelector('iframe')
        iframe.addEventListener('load', () => {
            window.scrollTo(0,0)
        })
    </script>
</Layout>