---
import Layout from "../layouts/Layout.astro"
---
<Layout title="Horizon HDFC - Book a Space" backgroundColor='bg-barely-grey'>
    <div class="container">
        <p>Please check that there are no conflicting events for your space on the <a href="/calendar">Calendar</a></p>
        <!-- Google Form -->
        <iframe style="margin-bottom: 100px" src="https://docs.google.com/forms/d/e/1FAIpQLSfiWMUmJjTlElQXW0L-p41OsGOjsCA2qS9h58zMJr_5Bz82Iw/viewform?embedded=true" width="640" height="1981" frameborder="0" marginheight="0" marginwidth="0" scrolling=no>Loading…</iframe>
    </div>
</Layout>