---

import Layout from '../layouts/Layout.astro';
import PhotoGallery from '../components/PhotoGallery.astro';
import Announcements from '../components/Announcements.astro';
import {frontmatter, Content} from '../content/markdown/index.md';
---

<Layout title="Welcome to Horizon" backgroundColor='bg-barely-grey'>
	<main class="container pt-5">
    <div class="row g-5">
      <!-- Welcome -->
      <div class="welcome-statement col-lg-6">
        <h1 class="text-center mt-1">{frontmatter.welcome}</h1>
        <Content/>
      </div>
      
      <Announcements/>  
      
      <PhotoGallery/>
    </div>
  </main>
</Layout>