---
import {frontmatter} from '../content/markdown/index.md';
import LoadAnnouncements from './LoadAnnouncements.astro';
---

<!-- ANNOUNCEMENTS -->
<div class="col-lg-6 border rounded bg-slate">
    <div class="container mt-1">   
      <h2 class="text-center">{frontmatter.listGroup.heading}</h1>
    </div>
    <div class="container list-group p-0 overflow-y-scroll" style="max-height:280px">
      <LoadAnnouncements server:defer>
        <!-- Placeholder for the Announcements -->
        { Array.from({length:2}).map(_ => (
          <div slot="fallback" class="placeholder-wave">
            <div 
            class="btn announcement placeholder bg-horizon-gold list-group-item list-group-item-action rounded text-start mb-3 p-3" 
            >
              <span class="fs-6 text-white hover:">Loading...</span>
            </div>
          </div>
          ))
        }
      </LoadAnnouncements>
    </div>
  </div>