---
import {Image} from 'astro:assets';
import buildingImgOne from '../assets/3599-building-1.png'
import buildingImgTwo from '../assets/3559-building-2.png'
---

<!-- PHOTO GALLERY -->
<div id="carouselExample" class="col-12 px-4 carousel slide h-50" style="margin-bottom: 100px">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <Image src={buildingImgOne} alt="exterior from broadway" class="d-block w-100 h-100" />
      </div>
      <div class="carousel-item">
         <Image src={buildingImgTwo} alt="exterior - front door" class="d-block w-100 h-100" />
      </div>
    </div>
    <button class="carousel-control-prev bg-dark mx-4" style="--bs-bg-opacity: .7;" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next bg-dark mx-4" style="--bs-bg-opacity: .7;" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>