---
const images = import.meta.glob('/src/assets/home/*', {eager: true})
---

<!-- PHOTO GALLERY -->
<div id="carouselExample" class="col-12 px-4 carousel slide h-50" style="margin-bottom: 100px">
    <div class="carousel-inner">
      {
        Object.entries(images).map(([k,v], idx) => {
          const altName = k.split('/').pop().replace(/\..*/g,"")
          return (
          <div class={`carousel-item ${!idx && 'active'}`}>
            <img src={v.default.src} alt={altName} class="d-block w-100" style="height: 600px; object-fit: contain; object-position: center;" />
          </div>
          );
        })
      }
    </div>
    <button class="carousel-control-prev bg-dark mx-4" style="--bs-bg-opacity: .2;" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next bg-dark mx-4" style="--bs-bg-opacity: .2;" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>