---
const currYear = new Date().getFullYear()

---

<!-- FOOTER -->
<footer class="bg-dark mt-5 position-absolute vw-100">
    <div class="container text-center text-light p-3">
        Horizon HDFC © {currYear}
    </div>
</footer>