---
const currYear = new Date().getFullYear()

---

<!-- FOOTER -->
<footer class="bg-dark mt-4 position-absolute bottom-0 vw-100">
    <div class="container text-center text-light p-3">
        (c) Horizon HDFC {currYear}
    </div>
</footer>