---
import Nav from '../layouts/nav.astro'
import Footer from '../layouts/footer.astro'
import '../styles/_reset.scss';
import '../styles/_bootstrap.scss';
interface Props {
	title: string;
	backgroundColor: string
}

const { title, backgroundColor } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class={`text-center ${backgroundColor} position-relative min-vh-100 pt-5`}>
		<Nav/>
		<slot />
		<Footer/>
		<script>
			// Import all Bootstrap js
			import 'bootstrap/dist/js/bootstrap'
		</script>
	</body>
</html>